* { margin: 0; padding: 0; }

main {
  background: linear-gradient(#333, #b7948a);
  min-height: 1000px;
  width: 100%;
  display: flex;
  gap: 5%;
  justify-content: center;
  align-items: center;

}

#box {
  height: 100px;
  width: 100px;
  display: grid;
  grid-template-columns: ;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
}

.pixel {
  min-height: 2px;
  min-width: 2px;
  background-color: white;
  /*justify-self: stretch;*/
}

.blue {
  background-color: blue;
}

#controls {
  display: flex;
  flex-flow: column nowrap;
}

.button {
  background-color: slategrey;
  color: white;
  border-radius: 6px;
}

.button p {
  padding: 6px;
}